/**
 * Project: Money Factory AI (MFAI)
 * Status: Production Ready - 2026
 * Contributors: Alaeddine BEN RHOUMA, Kamel BEN RHOUMA, Adem BELHAJAISSA
 */

.preserve-3d {
  transform-style: preserve-3d;
}

.skillchain-card-face {
  min-height: 360px;
  transform-style: preserve-3d;
}

.skillchain-card-front {
  transform: rotateY(0deg);
}

.skillchain-card-back {
  transform: rotateY(180deg);
}
