node_modules/
.DS_Store
.env
.env.local
.env.development
.env.production
dist/
.next/
coverage/
storybook-static/
playwright-report/
test-results/
tests/e2e-report/
web/cache/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
